<div class='row'>
  <div class='col-lg-9'>
    <%= react_component 'Decodings', { data: @decodings } %>
  </div>
  <div class='col-lg-3'>
    <div class='well'>
      <h4>Instructions</h4>
      <p>This decoder is an implementation of the Polybius Square cipher. The basic form is a 5x5 grid where each square is assigned a single letter.
      Due to the English alphabet consisting of 26 letters, 'i' and 'j' have been combined.</p>

      <p>Enter the encoded string into the text area. Use '-' between letters and ' ' between words.</p>
      <p>
      <table class="table table-striped table-bordered">
        <tbody><tr>
          <th></th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        <tr>
          <th>1</th>
          <td>A</td>
          <td>B</td>
          <td>C</td>
          <td>D</td>
          <td>E</td>
        </tr>
        <tr>
          <th>2</th>
          <td>F</td>
          <td>G</td>
          <td>H</td>
          <td>I/J</td>
          <td>K</td>
        </tr>
        <tr>
          <th>3</th>
          <td>L</td>
          <td>M</td>
          <td>N</td>
          <td>O</td>
          <td>P</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Q</td>
          <td>R</td>
          <td>S</td>
          <td>T</td>
          <td>U</td>
        </tr>
        <tr>
          <th>5</th>
          <td>V</td>
          <td>W</td>
          <td>X</td>
          <td>Y</td>
          <td>Z</td>
        </tr>
      </tbody></table>
      </p>
      <p>
      Read More about <a href='https://en.wikipedia.org/wiki/Polybius_square'>Polybius Square</a>.
      </p>
      <hr>
      <h4>Source Code Links</h4>
      <p>
        <a href='https://github.com/nwise/polybius-square-decoder' target='_blank'>This Rails 4 App</a><br>
        <a href='https://github.com/nwise/polybius-square' target='_blank'>My Polybius Gem</a>
      </p>
    </div>
  </div>
</div>
